.flex-container {
  padding: 0;
  margin: 0;  
  display: flex;
  flex-flow: row wrap;
}

.flexbox {
  display: flex;
}

.header {
  height: 30px;
  margin: 30px 25px 15px 25px;
  padding: 20px;
  background-color: #FFB4B0;
  border: 2px solid black;
}


.sidebar__left { 
  flex-grow: 2;
  background-color: #4DD7FA;
  margin: 10px 25px 0 25px;
  min-width: 200px;
}

.sidebar__right { 
  flex-grow: 9;
  background-color: #FEFAC0;
  margin: 10px 25px 0 25px;
  min-width: 200px;
}


.flex-item {  
  padding: 10px;
  width: 100px;
  border: 2px solid black;
}

div .title {
  font-size: 1.75em;
  color: #785616;
}

.box {
  width: 80px;
  display: inline-block;
}

